@import url('https://fonts.googleapis.com/css?family=Courgette|Orbitron');

body {
  margin: 0;
  background: linear-gradient(90deg, #000000, #2a2a2a, #000000, #2a2a2a);
  background-size: 400%
}

.hello-world {
  font-size: 100px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  line-height: 5px;
  animation-name: showtext;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-play-state: running;
}

#font-text {
  display: block;
  font-family: 'Orbitron', sans-serif;
  color: #9d0000;
  font-size: 25px;
  text-align: center;
  line-height: 3px;
}

#font-link {
  text-decoration: none;
  color: #ff6b00;
  font-family: 'Orbitron', sans-serif;
  animation-name: changesize;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-play-state: paused;
}

#font-link:hover {
  color: #00ff94;
  animation-play-state: running;
}

.description{
  text-align: center;
  color: #ff6b00;
  font-size: 30px;
  font-family: 'Courgette', cursive;
}

@keyframes showtext {
  0%{
    font-size: 0px;
  }
  50%{
    font-size: 120px;
  }
  100%{
    font-size: 100px;
  }
}

@keyframes changesize {
  0%{
    font-size: 25px;
  }
  50%{
    font-size: 30px;
  }
  100%{
    font-size: 25px;
  }
}
